!.idea/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
*.7z
*.a
*.ap_
*.apk
*.app
*.bak
*.bundle
*.cgo1.go
*.cgo2.c
*.class
*.ctxt
*.DEPLOYED
*.dex
*.dll
*.dmg
*.dSYM/
*.dylib
*.ear
*.egg
*.egg-info
*.elf
*.exe
*.exp
*.gem
*.gz
*.hex
*.hprof
*.i*86
*.idb
*.ilk
*.iml
*.iso
*.iws
*.jar
*.ko
*.la
*.lai
*.launch
*.lcov
*.lib
*.lo
*.lock
*.log
*.log.*
*.map
*.nar
*.o
*.obj
*.old
*.out
*.pch
*.pdb
*.pid
*.pid.lock
*.py[cod]
*.pydevproject
*.rar
*.rbc
*.rsp
*.sbr
*.seed
*.sln.docstates
*.slo
*.so
*.so.*
*.stackdump
*.su
*.suo
*.swp
*.tar
*.tar.gz
*.tgz
*.tlh
*.tli
*.tmp
*.Trashes
*.tsbuildinfo
*.user
*.war
*.x86_64
*.zip
*/.apt_generated/
*/.classpath
*/.DS_Store
*/.factorypath
*/.idea
*/.project
*/.settings
*/.vertx
*/bin/
*/hooks
*/info
*/objects
*/refs
*/target/
*/WEB-INF/lib/
*erase*
*~
*~.nib
.*.kate-swp
.*.swp
._*
.apt_generated/
.attach_pid*
.autotools
.build.gradle.swp
.buildpath
.c9
.c9revisions
.cache-main
.cache/
.coverage
.cproject
.data/
.DS_Store
.DS_Store?
.dynamodb/
.env
.env.test
.eslintcache
.externalToolBuilders/
.factorypath
.gradle
.gradle/
.gradletasknamecache
.grunt
.hg
.hgignore
.hgtags
.idea/
.idea/*
.idea/httpRequests
.idea/sonarlint/
.loadpath
.lock-wscript
.metadata
.mvn/jvm.config
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.nb-gradle/
.node_repl_history
.nuxt
.recommenders
.recommenders/
.Rhistory
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.scala_dependencies
.serverless/
.settings/
.Spotlight-V100
.Spotlight-V11
.springBeans
.svn
.swp.*
.tern-project
.texlipse
.trace.db
.Trashes
.vagrant/
.vertx
.vertx/
.vscode-test
.wafpickle-*
.yarn-integrity
/*/*/*/WEB-INF/lib/
/*/*/target/
/*/*/WEB-INF/lib/
/*/target/
/*/WEB-INF/lib/
/.project
/logs/
/output/
/target/
/tmp
/WEB-INF/lib/
[Gg]en/
[Tt][Mm][Pp]/
__pycache__/
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj/
_test/
_testmain.go
bin/
bower_components
build
build/
build/Release
buildNumber.properties
buildtime.properties
classes/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
com_crashlytics_export_strings.xml
config.gypi
coverage
cpp/root/build/
crashlytics-build.properties
crashlytics.properties
CVS
cwallet.sso.lck
db.sqlite3
dependency-reduced-pom.xml
deploy/
description
Desktop.ini
dist/
elf-integration-test/logs/
elfserver.iml
erase
erase*.json
erase*.log
erase*.xml
erase*.yaml
erase.*
ethumbs.db
expanded-jars/
fabric.properties
go/bin/
go/out/
go/output/
go/pkg/
go/src/code.google.com/
go/src/github.com/
go/src/golang.org/
go/src/gopkg.in/
go/src/launchpad.net/
gradle-app.setting
heroku-deploy/
hs_err_pid*
Icon?
java/out/
java/output/
javadoc/
jenkins.properties
jmh-result.json
jspm_packages/
lerna-debug.log*
lib-cov
local_settings.py
logs/
maven-status/
nbbuild/
nbdist/
node_modules/
npm-debug.log
npm-debug.log*
package-lock.json
package.json.lerna_backup
pids
pom.xml.*Backup
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release-pom.xml
release.properties
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
root/src/gen/java/
sonarlint/
src/**/*.map
tags
target
target/
temp/
Thumbs.db
tmp/
typings/
workspace.xml
yarn-debug.log*
yarn-error.log*
